<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cheda</title>
    <!-- Slick.js - Open Source Javascript Framework-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/info.css">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=p7ll3jv67z"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <div class="content">
        <div class="logo"><img src="../static/img/logo_test1.png" onclick="location.href='/'" alt=""></div>
        <div class="container" style="background: url(../static/img/centers/sb_img.png) left center/100% no-repeat;">
            <div class="img_cover"></div>
            <h1>
                싱글벙글 교육센터
            </h1>
            <h2>
                서울 관악구 남부순환로234길 73 &nbsp;| &nbsp;서울 관악구 봉천동 산56-3
            </h2>
        </div>
        
        <div class="center_cards">
            <div class="slick_div">
                <div class="slick_content card card1" style="display: flex;">
                    <div class="place_img"></div>
                    <h1>싱글벙글 교육센터</h1>
                    <button id="btn1" onclick="location.href='/sb/'">자세히 보기</button>
                </div>
                <div class="slick_content card card2">
                    <div class="place_img"></div>
                    <h1>관악구 평생학습관</h1>
                    <button id="btn2" onclick="location.href='/forever/'">자세히 보기</button>
                </div>
                <div class="slick_content card card3">
                    <div class="place_img"></div>
                    <h1>낙성대동 주민센터</h1>
                    <button id="btn3" onclick="location.href='/nak/'">자세히 보기</button>
                </div>
                <div class="slick_content card card4">
                    <div class="place_img"></div>
                    <h1>서울대학교</h1>
                    <button id="btn4" onclick="location.href='/snu/'">자세히 보기</button>
                </div>
                <div class="slick_content card card5">
                    <div class="place_img"></div>
                    <h1>미림여자 정보고등학교</h1>
                    <button id="btn5" onclick="location.href='/mirim/'">자세히 보기</button>
                </div>
                <div class="slick_content card card6">
                    <div class="place_img"></div>
                    <h1>관악 구민회관</h1>
                    <button id="btn6" onclick="location.href='/gumin/'">자세히 보기</button>
                </div>
                <!-- <div class="slick_content">9 content</div>
                    <div class="slick_content">10 content</div> -->
            </div>
        </div>
        <div class="program_list">
            {% for object in object_list %}
            
            <div class="program">
                <div class="info_text">
                    <h1>{{object.name}}</h1>
                    <p>
                        <span class="left">기간</span>{{object.st_period | date:'Y년 m월 d일'}} ~ {{object.fin_period | date:'m월 d일'}}</br>
                        <span class="left">일시</span>{{object.date}}</br>
                        <span class="left">대상</span>{{object.for_whom}}
                    </p>
                </div>
                <div class="img_div" style="background:url(../static/img/centers/sb/{{object.id}}.jpg) center center/100% no-repeat;">
                    <div class="view_more">View More</div>
                </div>
                <div class="info_content hidden">
                    <div class="overlay"></div>
                    <div class="content_box">
                        <h1>{{object.name}}</h1>
                        <h2><span>분야</span>{{object.l_field}}</h2>
                        <h2><span>대상</span>{{object.for_whom}}</h2>
                        <h2><span>기간</span>{{object.st_period | date:'Y년 m월 d일'}} ~ {{object.fin_period | date:'m월 d일'}}</h2>
                        <h2><span>일시</span>{{object.date}}</h2>
                        <h2><span>장소</span>{{object.where}}</h2>
                        <div class="apply_box"></br>
                            <h2>접수기간 : {{object.to_st_date | date:'Y년 m월 d일 H:i'}} ~ {{object.to_fin_date | date:'m월 d일 H:i'}}</h2>
                            <h2>인원제한 : {{object.people}}명</h2>
                            <h2>접수방법 : {{object.how_apply}}</h2>
                            <h2>문의전화 : {{object.ask}}</h2>
                            <button onclick="alert('준비중 입니다');">신청하기</button onclick="alert('준비중 입니다');">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="program">
                <div class="info_text {{object.id}}">
                    <h1>{{object.name}}</h1>
                    <p>
                        <span class="left">기간</span>{{object.st_period | date:'Y년 m월 d일'}} ~ {{object.fin_period | date:'m월 d일'}}</br>
                        <span class="left">일시</span>{{object.date}}</br>
                        <span class="left">대상</span>{{object.for_whom}}
                    </p>
                </div>
                <div class="img_div" style="background:url(../static/img/centers/nak/{{object.id}}.jpg) center center/100% no-repeat;">
                    <div class="view_more">View More</div>
                </div>
                <div class="info_content hidden">
                    <div class="overlay"></div>
                    <div class="content_box">
                        <h1>{{object.name}}</h1>
                        <h2>분야 : {{object.l_field}}</h1>
                        <h2>대상 : {{object.for_whom}}</h1>
                        <h2>기간 : {{object.st_period | date:'Y년 m월 d일'}} ~ {{object.fin_period | date:'m월 d일'}}</h2>
                        <h2>일시 : {{object.date}}</h2>
                        <h2>장소 : {{object.where}}</h2>
                        <h2>접수기간 : {{object.to_st_date | date:'Y년 m월 d일 H:i'}} ~ {{object.to_fin_date | date:'m월 d일 H:i'}}</h2>
                        <h2>정원 : {{object.people}}명</h2>
                        <h2>접수방법 : {{object.how_apply}}</h2>
                        <h2>문의전화 : {{object.ask}}</h2>
                        <h2>신청하기 : </h2>
                    </div>
                </div>
            </div> -->
            {% endfor %}
        </div>
    </div>
</body>
<script>

    const view_more = document.querySelectorAll(".view_more");
    const info_cont = document.querySelectorAll(".info_content");
    const overlay = document.querySelectorAll(".overlay");
    const openInfo = (i) => {
        console.log(info_cont[i]);
        info_cont[i].classList.remove("hidden");
        info_cont[i].classList.add("effect");
    }
    const closeInfo = (i) => {
        console.log(info_cont[i]);
        info_cont[i].classList.remove("effect");
        info_cont[i].classList.add("hidden");
    }
    view_more.forEach((e,i) => {
        e.addEventListener("click",()=>{
            openInfo(i);
        });
    });
    overlay.forEach((e,i) => {
        e.addEventListener("click",()=>{
            closeInfo(i);
        });
    });
    // view_more.addEventListener("click", test);

    $(document).ready(() => {
        $('.slick_div').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 2,
        });
        $('.card').css("display","flex");
    });
</script>
</html>