* {
    margin: 0px;
}
body{
    background: #f9f8f5;
}
.slogan_div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 350px;
    padding-bottom: 100px;
    z-index: 5;
    /* background:url(../img/sunset-colors.png) center center/100% no-repeat; */
    /* background-color: rgba(255,255,0,0.3); */
    background: url(../img/test.png) no-repeat fixed;
    background-size: 100%;
    background-position: top center;
}

.slogan_div .img_cover {
    z-index: inherit;
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.3);
}

.slogan {
    z-index: 10;
    display: inline-block;
    font-size: 34pt;
    color: white;
    font-family: "NanumSquareRoundEB";
    text-shadow: #666 0px 0px 3px, #666 0px 0px 3px, #666 0px 0px 3px, #666 0px 0px 3px;
    height: min-content;
    margin-right: 10px;
}

.slogan span {
    font-size: 34pt;
    color: #fbb03b;
    text-shadow: #fff 0px 0px 3px, #fff 0px 0px 3px, #fff 0px 0px 3px, #fff 0px 0px 3px;
}

.slogan_div img {
    z-index: 10;
    width: 300px;
}

.map_div {
    z-index: 11;
    /* background-color: #f1d9c4; */
    background: #f9f8f5;
    /* background-color: rgb(255,229,163); */
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    margin-top: -100px;
    width: 65%;
    height: 550px;
    border-radius: 10px;
    /* border: 10px solid white; */
    border: 5px solid rgba(255, 196, 80);
}

.center_cards {
    width: 100%;
    /* height: 500px; */
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: red; */
}

.slick_div {
    width: 53vw;
    /* border: 1px solid black; */
}

.slick-next,
.slick-prev {
    width: 35px;
    height: 35px;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.slick-prev::before {
    color: #fbb03b;
    font-size: 35px;
}

.slick-next::before {
    color: #fbb03b;
    font-size: 35px;
}

.slick_content {
    height: 15vw;
    margin: 10px;
    text-align: center;
    color: black;
    background: rgba(255, 196, 80, 0.45);
    background: linear-gradient(180deg, rgba(255, 196, 80, 0.45), rgba(255, 196, 80, 0.15));
    /* border: 1px solid black; */
    box-shadow: 0px 0px 15px -8px #ffc450;
    border-radius: 4px;
    /* background: red; */
}
.slick_content:nth-child(3n+1){
    background: rgba(255, 176, 100, 0.45);
    background: linear-gradient(180deg, rgba(255, 176, 100, 0.45), rgba(255, 176, 100, 0.15));
    box-shadow: 0px 0px 15px -8px rgb(255, 176, 100);
}
.slick_content:nth-child(3n){
    background: rgba(255, 216, 80, 0.45);
    background: linear-gradient(180deg, rgba(255, 216, 80, 0.45), rgba(255, 216, 80, 0.15));
    box-shadow: 0px 0px 15px -8px rgb(255, 216, 80);
}

.slick_content:focus {
    outline: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card .place_img{
    display: inline-block;
    position: relative;
    width: 70%;
    height: 56%;
    border-radius: 50%;
    /* left: 50%;
    transform: translateX(-50%); */
    background: url(../img/card1.png) center center/150% no-repeat;
}
.card1 .place_img{
    background: url(../img/card1.png) center center/150% no-repeat;
}
.card h1 {
    font-weight: 1000;
    font-family: NanumSquareRoundEB;
    font-size: 1vw;
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 3px black;
}
.card button{
    margin-top: -13px;
    background:none;
    text-decoration: none;
    border: 2px solid #fbb03b;
    border-radius: 3px;
    color: #fbb03b;
    font-family: NanumSquareRoundEB;
    padding: 5px;
    transition: background 0.15s;
}
.card button:hover{
    background: #fff;
}
.card button:focus{
    outline: 0;
}