@font-face {
    font-family: 'Jalnan';
    src: url(../font/Jalnan.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareB';
    src: url(../font/NanumSquareB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url(../font/NanumSquareEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareL';
    src: url(../font/NanumSquareL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareR';
    src: url(../font/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(../font/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(../font/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(../font/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(../font/NanumSquareRoundR.ttf) format('truetype');
}