*{
    margin: 0px;
}

.slogan_div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 350px;
    padding-bottom: 100px;
    z-index: 5;
    
    /* background:url(../img/sunset-colors.png) center center/100% no-repeat; */
    /* background-color: rgba(255,255,0,0.3); */
    background: url(../img/test.png) no-repeat fixed;
    background-size: 100%;
    background-position: bottom center;
}
.slogan_div .img_cover{
    z-index: inherit;
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: rgba(0,0,0,0.3);
}
.slogan{
    z-index: 10;
    display: inline-block;
    font-size: 34pt;
    color: white;
    font-family: "NanumSquareRoundEB";
    text-shadow: #666 0px 0px 3px,#666 0px 0px 3px,#666 0px 0px 3px,#666 0px 0px 3px;
    height: min-content;
    margin-right: 10px;
}
.slogan span{
    font-size: 34pt;
    color: #fbb03b;
    text-shadow: #fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px;
}
.slogan_div img{
    z-index: 10;
    width: 300px;
}

.map_div{
    z-index: 11;
    /* background-color: #f1d9c4; */
    background: white;
    /* background-color: rgb(255,229,163); */
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map{
    margin-top: -100px;
    width: 65%;
    height: 550px;
    border-radius: 10px;
    /* border: 10px solid white; */
    border: 5px solid rgba(255, 196, 80);
}


.slick_div{
    width: 70%;
    height: 200px;
    border: 1px solid black;
    margin: 100px;
}