*{
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    text-align: center;
}
.content{
    display: inline-flex;
    width: 1200px;
    padding: 30px 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img{
    width: 200px;
    margin-bottom: 30px;
}

.container{
    position: relative;
    width: calc(100% - 60px);
    height: 240px;
    padding: 30px;
    background: beige;
    margin-bottom: 50px;
}
.container h1{
    font-family: NanumSquareRoundEB;
}


.slick_div {
    position: relative;
    width: 1000px;
    /* border: 1px solid black; */
}

.slick-next,
.slick-prev {
    width: 35px;
    height: 35px;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.slick-prev::before {
    color: #fbb03b;
    font-size: 35px;
}

.slick-next::before {
    color: #fbb03b;
    font-size: 35px;
}

.slick_content {
    height: 283px;
    margin: 10px;
    text-align: center;
    color: black;
    background: rgba(255, 196, 80, 0.45);
    background: linear-gradient(180deg, rgba(255, 196, 80, 0.45), rgba(255, 196, 80, 0.15));
    /* border: 1px solid black; */
    border-radius: 4px;
    /* background: red; */
}
.slick_content:nth-child(3n+1){
    background: rgba(255, 176, 100, 0.45);
    background: linear-gradient(180deg, rgba(255, 176, 100, 0.45), rgba(255, 176, 100, 0.15));
}
.slick_content:nth-child(3n){
    background: rgba(255, 216, 80, 0.45);
    background: linear-gradient(180deg, rgba(255, 216, 80, 0.45), rgba(255, 216, 80, 0.15));
}

.slick_content:focus {
    outline: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card .place_img{
    display: inline-block;
    position: relative;
    width: 70%;
    height: 56%;
    border-radius: 50%;
    /* left: 50%;
    transform: translateX(-50%); */
    background: url(../img/card1.png) center center/150% no-repeat;
}
.card1 .place_img{
    background: url(../img/card1.png) center center/150% no-repeat;
}
.card h1 {
    font-weight: 1000;
    font-family: NanumSquareRoundEB;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 3px black;
}
.card button{
    margin-top: -13px;
    background:none;
    text-decoration: none;
    border: 2px solid #fbb03b;
    border-radius: 3px;
    color: #fbb03b;
    font-family: NanumSquareRoundEB;
    padding: 5px;
    transition: background 0.15s;
}
.card button:hover{
    background: #fff;
}
.card button:focus{
    outline: 0;
}