*{
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    text-align: center;
    background: #f9f8f5;
}
.content{
    display: inline-flex;
    width: 1200px;
    padding: 30px 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img{
    width: 200px;
    margin-bottom: 30px;
}

.container{
    border: 5px solid rgba(255, 196, 80);
    z-index: 5;
    position: relative;
    width: calc(100% - 60px);
    height: 240px;
    padding: 30px;
    background: beige;
    margin-bottom: 50px;
    background: url(../img/centers/sb_img.png) left center/100% no-repeat;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container .img_cover{
    z-index: inherit;
    position: absolute;
    width: 100%;
    height: 300px;
    margin-left: -30px;
    background-color: rgba(0, 0, 0, 0.6);
}
.container h1{
    position: relative;
    z-index: 10;
    letter-spacing: 7px;
    font-family: NanumSquareRoundEB;
    font-size: 60px;
    padding-left: 50px;
    text-align: left;
    color: #fbb03b;
    text-shadow: 
    -1px 1px 5px white,
    -1px -1px 5px white,
    1px -1px 5px white,
    1px 1px 5px white;
}
.container h2{
    position: relative;
    z-index: 10;
    letter-spacing: 2px;
    font-family: NanumSquareRoundEB;
    font-size: 20px;
    padding-left: 50px;
    text-align: left;
    color: white;
    /* text-shadow: 
    -1px 1px 0 #fbb03b,
    -1px -1px 0 #fbb03b,
    1px -1px 0 #fbb03b,
    1px 1px 0 #fbb03b; */
    text-shadow: 0px 0px 1px #fbb03b, 1px 1px 2px #fbb03b;
}


.slick_div {
    position: relative;
    width: 1000px;
    /* border: 1px solid black; */
}

.slick-next,
.slick-prev {
    width: 35px;
    height: 35px;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.slick-prev::before {
    color: #fbb03b;
    font-size: 35px;
}

.slick-next::before {
    color: #fbb03b;
    font-size: 35px;
}

.slick_content {
    height: 283px;
    margin: 10px;
    text-align: center;
    color: black;
    box-shadow: 0px 0px 15px -8px #ffc450;
    background: rgba(255, 196, 80, 0.45);
    background: linear-gradient(180deg, rgba(255, 196, 80, 0.45), rgba(255, 196, 80, 0.15));
    /* border: 1px solid black; */
    border-radius: 4px;
    /* background: red; */
}
.slick_content:nth-child(3n+1){
    background: rgba(255, 176, 100, 0.45);
    background: linear-gradient(180deg, rgba(255, 176, 100, 0.45), rgba(255, 176, 100, 0.15));
    box-shadow: 0px 0px 15px -8px rgb(255, 176, 100);
}
.slick_content:nth-child(3n){
    background: rgba(255, 216, 80, 0.45);
    background: linear-gradient(180deg, rgba(255, 216, 80, 0.45), rgba(255, 216, 80, 0.15));
    box-shadow: 0px 0px 15px -8px rgb(255, 216, 80);
}

.slick_content:focus {
    outline: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card .place_img{
    display: inline-block;
    position: relative;
    width: 70%;
    height: 56%;
    border-radius: 50%;
    /* left: 50%;
    transform: translateX(-50%); */
    background: url(../img/centers/sb_img.png) center center/150% no-repeat;
}
.card1 .place_img{
    background: url(../img/centers/sb_img.png) center center/150% no-repeat;
}
.card2 .place_img{
    background: url(../img/centers/forever_img.png) left center/140% no-repeat;
}
.card3 .place_img{
    background: url(../img/centers/nak_img.png) left top/150% no-repeat;
}
.card4 .place_img{
    background: url(../img/centers/snu_img.png) right center/140% no-repeat;
}
.card5 .place_img{
    background: url(../img/centers/mirim_img.png) center center/135% no-repeat;
}
.card6 .place_img{
    background: url(../img/centers/gumin_img.png) center center/130% no-repeat;
}
.card h1 {
    font-weight: 1000;
    font-family: NanumSquareRoundEB;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 3px black;
}
.card button{
    margin-top: -13px;
    background:none;
    text-decoration: none;
    border: 2px solid #fbb03b;
    border-radius: 3px;
    color: #fbb03b;
    font-family: NanumSquareRoundEB;
    padding: 5px;
    transition: background 0.15s;
}
.card button:hover{
    background: #fff;
}
.card button:focus{
    outline: 0;
}

.program_list{
    margin-top: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 100px -70px black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.program_list .program{
    position: relative;
    width: calc(100% - 400px);
    height: 220px;
    padding: 55px 0px;
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px dashed #dbdbdb;
}
.program_list .program:last-child{
    border: none;
}

.program_list .info_text{
    font-family: Malgun Gothic;
    font-family: NanumSquareRoundB;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
    text-align: left;
}
.program_list .info_text h1{
    display: inline;
    font-family: NanumSquareEB;
}
.program_list .info_text p{
    line-height: 150%;
    color: #444;
}
.program_list .info_text span{
    height: 17px;
    display: inline-block;
    border-bottom: 5px solid rgba(251, 176, 59, 0.6);
    color: black;
    font-family: NanumSquareRoundEB;
    margin-right: 25px;
}

.program_list .img_div{
    position: relative;
    border-radius: 4px;
    width: 350px;
    height: 100%;
    box-shadow: 0px 0px 50px -20px black;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 17px rgba(0,0,0,0.22);
}
.img_div:hover > .view_more{
    opacity: 1;
}
.view_more{
    z-index: inherit;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    font-family: NanumSquareEB;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}
.info_content{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: inherit;
}
.info_content .content_box{
    background-color: white;
    padding: 50px;
    /* text-align: center; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    /* border-radius: 4px; */
    width: 600px;
    height: 550px;
    z-index: 100;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.content_box h1{
    font-family: NanumSquareEB;
    font-size: 45px;
    border-bottom: 12px solid #fbb03b;
    /* padding-bottom: 20px; */
    height: 40px;
    margin-bottom: 20px;
}
.content_box h2{
    text-align: left;
}


.hidden{
    display: none;
}
.effect{
    animation: content_box 0.35s;
    animation-fill-mode: both;
}
@keyframes content_box{
    0%{
        opacity: 0;
        transform: translateY(-4.5%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}